<?xml version="1.0" encoding="UTF-8"?>
<Context>

	<WatchedResource>WEB-INF/web.xml</WatchedResource>

	<Resource name="jdbc/postgres" auth="Container"
		type="javax.sql.DataSource" username="postgres"
		password="reverse" driverClassName="org.postgresql.Driver"
		factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
		url="jdbc:postgresql://database:5432/postgres" maxTotal="60"
		maxIdle="20" validationQuery="select 1" />

</Context>